/* color: */
/* bg-color: */

body {
    margin: 0;
    border: 0;
    padding: 0;
    position: relative;
    display: block;
    box-sizing: border-box;
    z-index: 1;
    background-color: #BF964B;
    color: #FFF;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px; /*1rem*/
}
header.menu {
    position: fixed;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #736C4D;
    width: 100%;
    height: 10%;
    z-index: 1000;
}
main {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
}
section, footer {
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
    border: 0;
    width: 100%;
    min-height: 100vh;
}
h1 {
    position: relative;
    display: block;
    color: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
h2 {
    position: relative;
    display: block;
    color: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
h3 {
    position: relative;
    display: block;
    color: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
h4 {
    position: relative;
    display: block;
    color: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
h5 {
    position: relative;
    display: block;
    color: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
h6 {
    position: relative;
    display: block;
    color: inherit;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
p {
    position: relative;
    display: block;
    color: #FFF;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
img {
    position: relative;
    display: block;
    margin: 0;
    border: 0;
    padding: 0;
    z-index: 4;
}
a {
    position: relative;
    display: block;
    color: #ffffff;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
blockquote {
    position: relative;
    display: block;
    margin: auto;
    border: 0;
    padding: 0;
    font-size: 1em;
    z-index: 4;
}
blockquote > p {
    position: relative;
    display: block;
}
blockquote > footer {
    position: relative;
    display: block;
}
.home-bg {
    background-image: url("../img/ingredients.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.olive-color-bg {
    background-color: #736C4D;
}
.dish-bg {
    background-image: url("../img/dish_pic1.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.map-bg {
    background-image: url("../img/map.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
}
.container {
    position: relative;
    display: block;
    padding: 0;
    border: 0;
    margin: 0 12%;
    z-index: 2;
}
.bg-color-container {
    position: absolute;
    display: block;
    padding: 0;
    border: 0;
    background-color: #BF964B;
    margin: 13vh 0;
    min-height: 74vh;
    width: 100%;
    z-index: 2;
}
.container-overlay {
    position: absolute;
    display: block;
    padding: 0;
    border: 0;
    background-color: #3d3929;
    margin: 0;
    height: 100%;
    width: 37%;
    opacity: 0.7;
    z-index: 3;
}
.title {

}
.list-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    z-index: 2;
}
.list-container > div.item {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
}
.list-container img {
    width: 100%;
    height: auto;
}
.list-container .img-legend {

}
.footer-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    z-index: 2;
}
.footer-menu > div.footer-menu-item {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
}
.social-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
    z-index: 2;
}
.social-container > div.social-item {
    flex: 0 1 auto;
    align-self: auto;
    order: 0;
}